.icon {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 50px;
    user-select: none;
    align-items: center;
}

.icon-label {
    margin-top: 4px;
    font-size: 11px;
    margin-left: 5px;
}

.icon-selected {
    background-color: #000080;
    color: white;
    border: 1px dotted #ffffff;
}